<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.7.1.min.js"></script>
  </head>
  <body class="text-center text-white bg-dark">
    <%- include('../partials/header') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <main class="px-3">
        <p class="lead">This is where the pricings all go</p>
        <p class="lead">
          <a
            href="#"
            class="btn btn-lg btn-secondary fw-bold border-white bg-white text-black"
            >Buy Now</a
          >
        </p>
      </main>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
